.wrong-answer-list {
    list-style-type: none;

    li {
        margin-right: 5px;
    }
}

.typingDisplay, .rightLetter {
    text-align: center;
    font-size: xxx-large;
    /*text-transform: uppercase;*/
}

.nextLetterDiv {
    text-align: center;
    span {
        font-size: 16rem;
    }
}

.nextLetter {
    /*text-transform: uppercase;*/
}

.settings {
    position: fixed;
    right: 0;
    top: 0;
}
[v-cloak] {
    display: none;
}